body{
    background-color: #23272a;
    text-align: center;
}
h1, h2{
    color: #7289da;
}
p{
    color: #ffffff;
}
#myBoard{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}